@charset "UTF-8";

/* SPDX-FileCopyrightText: 2023 Samuel Wu
 *
 * SPDX-License-Identifier: MIT
 */

@import url("./assets/mixins.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}


body, #faq, #questions {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  min-width: 400px;
  text-align: center;
}

body {
  min-height: 100vh;

  > header {
    > h1 {
      font-size: 3.2em;
      line-height: 1.1;
    }
  }

  > main {
    max-width: 80rem;
    margin-inline: auto;
  }
}

section {
  width: 70%;
  margin-inline: auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em;
}

/* Accordion from https://codepen.io/raubaca/pen/PZzpVe, MIT License */
#questions {
  overflow: hidden;

  .question {
    width: 70%;
    overflow: hidden;

    > input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .question-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      font-weight: bold;
      text-align: left;
      cursor: pointer;

      &::after {
        width: 1em;
        height: 1em;
        content: "\276F";
        transition: all 0.35s;
      }
    }

    .answer {
      max-height: 0;
      padding: 0 1em;
      transition: all 0.35s;
    }

    > input:checked {
      + .question-label {
        &::after {
          transform: rotate(90deg);
        }
      }

      ~ .answer {
        max-height: 100vh;
        padding: 1em;
      }
    }
  }
}

button {
  @mixin button;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
