body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#load {
  display: none;
}

#load-label {
  border: 1px black solid;
  border-radius: 1px;
  padding: 16px;
}

.selection {
  width: 128px;
  height: 128px;
  padding: 16px;
}

.results {
  width: 60vw;
  height: 50vh;
}
