/* SPDX-FileCopyrightText: 2023 Samuel Wu
 *
 * SPDX-License-Identifier: MIT
 */

.chart {
  width: 31.25em;
  height: 250px !important;

  @media (width > 800px) {
    width: 60em;
    height: 400px !important;
  }

  @media (800px > width > 600px) {
    width: 40em;
    height: 300px !important;
  }
}
