/* SPDX-FileCopyrightText: 2023 Samuel Wu
 *
 * SPDX-License-Identifier: MIT
 */

.selections {
  display: flex;
  justify-content: center;
  margin: 1em 1em 0;

  > button {
    width: 8em;
    height: 8em;
    padding: 0.5em;
    border: 1px;
    border-radius: 1px;
  }
}
