.button {
  min-width: 5.625rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #1a1a1a;
  border-radius: 0.5rem;

  &:hover {
    border-color: #8cb4ff;
  }

  &:focus,
  &:focus-visible {
    outline: 0.25rem auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    background-color: #f9f9f9;
  }
}
