.ranker-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.fields {
  composes: ranker-form;
}

.character-input {
  min-width: 20rem;
}

.submit-button {
  composes: center-input from "./FormPrimitives.module.css";
}
