@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";

:root {
  font-family: var(--font-system-ui);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--size-fluid-2);
}

p {
  margin: var(--size-fluid-1) 0;
}

button {
  margin: var(--size-fluid-1);
}

.ranker-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections {
  display: flex;

  > button {
    padding: var(--size-3);
    width: 100px;
    height: 100px;
  }
}

.load-error > p:first-child {
  text-align: center;

  & + p {
    white-space: pre-wrap;
  }
}

.error-boundary {
  padding: var(--size-fluid-2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  & pre {
    padding: var(--size-fluid-2);
    width: 100%;
    overflow-x: auto;
  }
}
