:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    color: #213547;
    background-color: #ffffff;
  }
}

a {
  font-weight: 500;
  color: #787fff;
  text-decoration: inherit;

  @media (prefers-color-scheme: light) {
    color: #5861ff;
  }

  &:hover {
    color: #8387d4;

    @media (prefers-color-scheme: light) {
      color: #5e64d9;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
label[for='load'] {
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;

  @media (prefers-color-scheme: light) {
    background-color: #f9f9f9;
  }

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

input[type='file'] {
  opacity: 0;
}

section {
  width: 80%;
  margin-inline: auto;
  text-align: center;

  > p {
    width: 90%;
    margin: 1em auto;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em;
}
