@import url("open-props/postcss/style");
@import url("open-props/postcss/normalize");
@import url("open-props/postcss/buttons");

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}

section > h2 {
  margin: 1rem auto;
}

details {
  max-width: 90ch;
  margin: 1rem auto;
  text-align: left;

  > summary {
    text-indent: hanging 0.9rem;
  }
}

p {
  max-width: 72ch;
  margin: 1rem auto;
}

img {
  margin: 0.25rem;
}

footer {
  padding: 1rem;
  margin: 1rem auto;
}

fieldset {
  margin: 1rem;
}

input,
label {
  margin: 0.5rem;
}

del {
  color: var(--red-1);
}

#app {
  max-width: 40rem;
  margin: 0 auto;
}

#ranker-options,
#ranker-data {
  display: flex;
  flex-direction: column;
}

.selections {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  margin: 0.625rem;

  > button {
    width: 8rem;
    height: 6rem;
    padding: 0.5rem;
  }
}
