@charset "UTF-8";

/*
 * SPDX-FileCopyrightText: 2023 Samuel Wu
 *
 * SPDX-License-Identifier: MIT
 */

@import url('./assets/mixins.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 87%);
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  min-width: 400px;
  min-height: 100vh;
  text-align: center;

  > h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  > main {
    max-width: 80rem;
    margin-inline: auto;
  }
}

section {
  width: 80%;
  margin-inline: auto;

  > p {
    width: 90%;
    margin: 1em auto;
  }
}

#faq {
  text-align: left;

  > details {
    width: 70%;
    margin-inline: auto;

    > summary {
      cursor: pointer;
    }

    > p {
      width: 90%;
      margin: 0.5em auto;
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em;
}

button {
  @mixin button;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
